* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base: #00adb5;
  --spacing: 5px;
  --blur: 5px;
}

body {
  text-align: center;
  background: #eeeeee;
  color: #393e46;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  max-width: 720px;
  max-height: 720px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}
